@import "~@blueprintjs/core/lib/scss/variables";

.textual-loader-container {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 20px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $dark-gray5;

  .textual-loader {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 15px;
    border-radius: 3px;
    background-color: rgba($gray4, 0.2);

    .bp4-spinner {
      margin-right: 10px;
    }
  }
}
