@import "~@blueprintjs/core/lib/scss/variables";

.pane-buttons {
  position: absolute;
  z-index: 3;
  top: 5px;
  right: 5px;
  display: flex;

  flex-direction: row;

  & > *:not(:last-child) {
    margin-top: 0;
    margin-right: 5px;
  }

  &.vertical-orientation {
    flex-direction: column-reverse;

    & > *:not(:last-child) {
      margin-top: 5px;
    }
  }

  & > * {
    background-color: $light-gray3;
    border-radius: 3px;
    padding: 5px;
    height: 25px;
    width: 25px;
    box-sizing: border-box;

    svg {
      fill: $dark-gray5;
    }
  }

  & > *:hover {
    cursor: pointer;
    background-color: $light-gray1;

    svg {
      fill: $dark-gray3;
    }
  }
}
