@import "~@blueprintjs/core/lib/scss/variables";

.colorbar {
  position: absolute;
  top: 0;
  right: 10px;
  width: 70px;
  height: 100%;
  overflow: hidden;
  z-index: 2;

  .colorbar-info {
    overflow: visible;
  }

  .unit {
    fill: $gray2;
    font-size: 10px;
  }
}
