node_modules
.eslintcache
yarn-error.log
api/public/meshes/*
public/assets/*
public/meshes/*
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test.local
__pycache__
.sync-config.cson
build
.vscode
