**/node_modules
**/.eslintcache
**/yarn-error.log
**/api/public/meshes/*
**/public/assets/*
**/public/meshes/*
**/.env.local
**/.env.development
**/.env.development.local
**/.env.production
**/.env.production.local
**/.env.test.local
**/__pycache__
**/.sync-config.cson
**/build
**/.vscode

.ipynb_checkpoints

# yarn without zero-installs
# see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# Documentation
doc/_build
doc/auto_examples
doc/gen_modules
doc/generated
doc/modules/generated

*.egg-info