@import "~@blueprintjs/core/lib/scss/variables";

.pane-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;

  min-width: 300px;

  .pane-controls-row {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: auto;
    align-content: center;

    & > * {
      padding: 0px 0px 5px 0px;
    }

    .header-item-label {
      padding-right: 8px;
      font-size: 12px;
      font-weight: 400;
      text-align: right;
      color: $gray1;
      text-transform: uppercase;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .header-item-value {
      font-size: 12px;
      text-align: left;
      color: $dark-gray5;

      display: flex;
      align-items: center;
    }

    // Remove radius when part of button group
    .bp4-button-group:not(.bp4-minimal) > .custom-button:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .bp4-button-group:not(.bp4-minimal) > .custom-button:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    //
    .two-state-toggle {
      padding: 4px 8px;
      display: flex;
      flex-direction: row;

      align-items: center;

      box-shadow: inset 0 0 0 1px rgb(16 22 26 / 20%),
        inset 0 -1px 0 rgb(16 22 26 / 10%);
      border-radius: 3px;

      .bp4-icon {
        color: $gray4;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }

      .bp4-switch {
        margin: 0px;
      }

      .bp4-control.bp4-switch input:checked ~ .bp4-control-indicator {
        background: $light-gray1;
      }
    }
  }
}

.menu-item-category {
  color: $gray1;
}

.menu-item-carret {
  color: $gray5;
}
