@import "constants/colors";

.header-item-label {
  padding-right: 8px;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  color: $gray3;
}

.header-item-value {
  font-size: 12px;
  text-align: left;
  color: $dark-gray5;

  display: flex;
  align-items: center;
}
