@import "~@blueprintjs/core/lib/scss/variables";

.timeseries-container {
  position: relative;

  .timeseries {
    .axis {
      position: absolute;
      .tick {
        fill: $gray3;
        font-size: 11px;
      }
    }

    .timeseries-bar {
      fill: transparent;

      &:hover,
      &.active {
        fill: $light-gray3;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
