#plots-container {
  display: grid;
  justify-content: stretch;
  align-content: stretch;

  min-height: 0px;
  overflow: hidden;
  position: relative;

  &.horizontal-orientation {
    grid-template-rows: auto;
    grid-template-columns: 80% auto;
  }

  &.vertical-orientation {
    grid-template-columns: auto;
    grid-template-rows: 80% auto;
  }

  .functional-distances-container {
    min-height: 0px;
    overflow: hidden;
    position: relative;
  }
}
