@import "~@blueprintjs/core/lib/scss/variables";

.colorbar {
  position: absolute;
  top: 0;
  right: 10px;
  width: 70px;
  height: 100%;
  z-index: 2;

  .colorbar-info {
    overflow: visible;
  }

  .unit-container {
    overflow: visible;
    position: absolute;

    .unit {
      fill: $gray2;
      font-size: 12px;
      position: absolute;
      text-align: right;
      bottom: 0;
      right: 0;
    }
  }

  canvas {
    position: absolute;
  }
}
