@import "~@blueprintjs/core/lib/scss/variables";

$hotspot-size: 15px;

#hotspot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: $hotspot-size / 2;
  margin-top: $hotspot-size / 2;
  padding: 8px;
  color: $light-gray5;
  background: rgba($dark-gray5, 0.85);
  border-radius: 3px;
  font-size: 12px;
  transition: opacity 0.2s;

  &::before {
    content: "";
    position: absolute;
    top: -$hotspot-size;
    left: -$hotspot-size;
    width: $hotspot-size;
    height: $hotspot-size;
    border-radius: 50%;
    background: rgba($dark-gray5, 0.85);
  }
}
