@import "~@blueprintjs/core/lib/scss/variables";

#header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 50;

  min-width: 300px;

  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  align-content: center;

  .header-item-label {
    padding-right: 8px;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    color: $gray3;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-item-value {
    font-size: 12px;
    text-align: left;
    color: $dark-gray5;

    display: flex;
    align-items: center;
  }
}
