@import "constants/colors";

* {
  padding: 0;
  margin: 0;
}

#main-container {
  width: 100vw;
  height: 100vh;
  background-color: $light-gray5;
  overflow: hidden;

  display: grid;
  justify-content: stretch;
  align-content: stretch;

  &.horizontal-orientation {
    grid-template-rows: auto;
    grid-template-columns: 66% auto;
  }
  &.vertical-orientation {
    grid-template-columns: auto;
    grid-template-rows: 66% auto;
  }
}

#scene {
  min-height: 0px;
  background-color: $light-gray5;
}

#fingerprint {
  min-height: 0px;
  background-color: $light-gray5;
}
