* {
  padding: 0;
  margin: 0;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  gris-template-rows: auto;
  grid-template-columns: 66% auto;
  justify-content: stretch;
  align-content: stretch;

  background-color: #ced9e0;
  overflow: hidden;
}

#webgl {
  min-height: 0px;
  background-color: #f5f8fa;
}

#metrics {
  min-height: 0px;
  background-color: #ebf1f5;
}
