@import "~@blueprintjs/core/lib/scss/variables";

.overlay-loader {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($dark-gray5, 0.1);
}
